<header id="header">
  <!-- <a href="{{ "/" | prepend: site.baseurl }}" class="avatar logo">  -->
    <!-- <span class="sivede">SiVEDE</span><span class="berlin">BERLIN</span> -->
  
    <svg version="1.1" viewBox="0 0 95 50" style="font-weight: bold; font-size: 30px">
      <title>SiVEDE AUGENOPTIK</title>
       <a xlink:href="{{ "/" | prepend: site.baseurl }}"
     xlink:title="SiVEDE BERLIN HOME">  
      <text x="0" y="22" style="fill:#9b1200;">SiVEDE</text>
      <text x="-95.8" y="-24" style="fill:#fecc01;" transform="scale(-1,-1)">BERLIN</text>
</a>
    </svg>
  
  <!-- </a> -->
  <h1 id="slogan">
    Ihr exklusiver Augenoptiker<br />
    in Berlin Charlottenburg-Wilmersdorf.
  </h1>

  <!-- <div class="trigger">
    {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </div> -->


</header>
